# Ignorar archivo con API Key
.env

# Ignorar entorno virtual de Python
venv/
env/
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales y backups
*.log
*.tmp
*.bak
*.swp

# Archivos de configuración del sistema operativo / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Archivos de análisis
.mypy_cache/
.pytest_cache/
.multimetric/
